image: ubuntu:18.04

before_script:
  - apt-get update -qy
  - apt-get install -y lftp

build:
  script:
    # Sync to FTP
    - lftp -e "open 161.35.125.194; user $FTP_USERNAME_FRONT_END $FTP_PASSWORD_FRONT_END; mirror -X .* -X .*/ --reverse --verbose --delete dist/ public_html/; bye"